mixin Slider(data,idprev,idnext) 
    .swiper-container&attributes(attributes)
        .slider.swiper-wrapper
            each slide in data
                .slider__slide.slide.swiper-slide
                    .slide__img(style="background-image: url("+slide.img+")")
                    if slide.title
                        .slide__title!=slide.title
                    .slide__price
                        if slide.oldprice
                            span.slide__price-old!=slide.oldprice
                        if slide.saleprice
                            span.slide__price-sale!=slide.saleprice
                        span.slide__price-valute р.
    //- .swiper-pagination
    .swiper-button-prev-custom(id=idprev)
        <svg class="nav-svg" width="110" height="121" viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
            <circle cx="60.1632" cy="60.8752" r="40.0416" fill="white"/>
            </g>
            <path d="M51.9209 60.8743L68.6307 44.1645C69.0417 43.7535 69.0417 43.0944 68.6307 42.6835C68.2198 42.2725 67.5607 42.2725 67.1497 42.6835L49.6955 60.1376C49.2846 60.5486 49.2846 61.2077 49.6955 61.6187L67.1497 79.0651C67.3513 79.2667 67.6227 79.3752 67.8864 79.3752C68.15 79.3752 68.4214 79.2744 68.623 79.0651C69.034 78.6541 69.034 77.995 68.623 77.5841L51.9209 60.8743Z" fill="#F6919D"/>
            <defs>
            <filter id="filter0_d" x="0.121582" y="0.833618" width="120.083" height="120.083" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="10"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.9869 0 0 0 0 0.784348 0 0 0 0 0.810484 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            </defs>
        </svg>
    .swiper-button-next-custom(id=idnext)
        <svg class="nav-svg" width="110" height="121" viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
            <circle cx="60.5365" cy="60.8752" r="40.0416" transform="rotate(-180 60.5365 60.8752)" fill="white"/>
            </g>
            <path d="M68.7788 60.8761L52.069 77.5859C51.658 77.9969 51.658 78.6559 52.069 79.0669C52.4799 79.4779 53.139 79.4779 53.55 79.0669L71.0042 61.6127C71.4151 61.2018 71.4151 60.5427 71.0042 60.1317L53.55 42.6853C53.3484 42.4837 53.077 42.3751 52.8133 42.3751C52.5497 42.3751 52.2783 42.4759 52.0767 42.6853C51.6658 43.0962 51.6658 43.7553 52.0767 44.1663L68.7788 60.8761Z" fill="#F6919D"/>
            <defs>
            <filter id="filter0_d" x="0.494965" y="0.833595" width="120.083" height="120.083" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="10"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.9869 0 0 0 0 0.784348 0 0 0 0 0.810484 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            </defs>
        </svg>
